body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 100px;
    color: inherit;
    text-decoration: none;
}

menu {
    flex: 1 calc(100vh - 130px);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #cbe4ee;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-bottom: 20px;
}
.status-item {
    font-size: 1.2em;
}

.navigation {
font-size: 14px;
}

.navbar-item {
    margin: 5px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.account-name {
    color:white;
}

#profile-picture {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border:4px solid #353535
}

#account-info {
    padding: 15px;
}

#change-account {
    padding: 15px;
}

#link-google {
    margin: 5px;
}

#logout {
    margin: 5px;
}